<nav class="navbar navbar-dark bg-dark">
  <div class="container justify-content-start">
    <a href="/" class="navbar-brand btn btn-dark">Início</a>
    <a href="/perguntar" class="navbar-brand btn btn-dark">Perguntar</a>
  </div>
</nav>
